.category {
    display: inline-flex;
    align-items: center;
    padding: 7px 12px;
    margin: 4px;
    border-radius: 16px;
    cursor: pointer;
    transition: all 280ms cubic-bezier(0.4, 0, 0.2, 1);
    min-height: 32px;
    font-size: 14px;
    font-weight: 500;
    box-sizing: border-box;
    border: none;
    background-color: #E8EAF5;
}

.category:hover {
    box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%),
        0px 4px 5px 0px rgb(0 0 0 / 14%),
        0px 1px 10px 0px rgb(0 0 0 / 12%);
}

.selected-category {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    border: 2px solid;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

.status-in-progress {
    color: orange !important;
}

.status-completed {
    color: green !important;
}

.status-failed {
    color: red !important;
}

.status-pending {
    color: gray !important;
}

.status-paused {
    color: blueviolet !important;
}

.status-stopped {
    color: brown !important;
}

.search-container {
    border-radius: 6px;
    /* margin-left: 24px; */
    margin-left: 5px;
    margin-top: -6px;
    height: 45px !important;
}

.search-div {
    min-width: 310px;
    display: grid;
    position: relative;
    transition: min-width 0.4s ease-in-out;

    .animated-search {
        width: 310px;
        overflow: hidden;
        justify-self: stretch;
        transition: all 0.4s ease-in-out;

        .animated-search-div {
            height: 33.5px;
            line-height: 1.125;
            position: relative;

            .override-placeholder-style {
                font-style: normal !important;
                border-radius: 6px;
            }
        }
    }

    &.expanded .animated-search {
        width: 450px;
        opacity: 1.0;
    }

    .search-filler {
        position: absolute;
        top: 12px;
        right: 0;
        width: 310px;
        overflow: hidden;
        white-space: nowrap;
        transition: all 0.4s ease-in-out;
        opacity: 1.0;
        pointer-events: none;
    }

    &.expanded .search-filler {
        opacity: 0;
    }
}


.ott-input-icon {
    cursor: pointer;
    /* visibility: hidden; */
    position: absolute;
    top: 0px;
    height: 100%;
    display: grid;
    align-items: center;
    height: 14px;
    width: 14px;
    font-size: 14px;
}

.animated-search-div {
    height: 33.5px;
    line-height: 1.125;
    position: relative;
    display: flex;
    align-items: center;

    .override-placeholder-style {
        font-style: normal !important;
        border-radius: 6px;
    }

    /* Style the InputAdornment (icons) */
    .MuiInputAdornment-root {
        /* Adjust margin, padding, etc. as needed */
    }
}

.appendix {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    border-top: none;
    line-height: 24px;
    font-weight: 400;
    border-radius: 0;
    transition: all 0.2s ease-in-out;
}

.appendix.show-filters {
    margin-top: -1px;
}

.appendix-button {
    vertical-align: text-bottom;
}

.appendix-text {
    padding-left: 5px;
}